UDA_IP=10.0.0.99
UDA_USER=admin
UDA_PASSWORD=
UDA_OVA_DATASTORE=datastore01
UDA_OVA_VM_NETWORK=VM Network
UDA_OVA_VI_USERNAME=root
UDA_OVA_VI_PASSWORD=
UDA_OVA_VI_IP=10.0.0.100
WINDOWS_2003_TRIAL_LICENSE=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX
WINDOWS_XP_SERIAL=XXXXX-XXXXX-XXXXX-XXXXX-XXXXX
